body{
background: rgb(172,203,230);
background: linear-gradient(32deg, rgba(172,203,230,1) 24%, rgba(172,190,230,1) 48%, rgba(40,129,207,1) 87%);
display:flex;
justify-content:center;
flex-direction: column;
color:darkcyan;
}
input,label{
			text-align: center;
			width:50%;
			padding: 20px;
        font-size: 30px
		}
		button{
			display: inline;
			 all: unset;
			font-size: 30px;
			cursor:pointer;
		}
	#ui2{
		display:grid;
		grid-template-columns: auto;
	}
	.inputLabel,.inputData{
		border: 1px solid rgba(0, 0, 0, 0.8);		
	}
#coordonne{
	color:darkcyan;
	position:relative;
	margin-top:10px;
	width:100%;
	display:flex;
	flex-direction: row;
	justify-content: center;
	z-index:1;
}
#link{
display:flex;
	justify-content: center;
	flex-direction: row;	
}
#corlink{
	display:flex;
	justify-content: space-between;
	flex-direction: column;
}
#chartContainer{
	margin-top:10%;
}
#ABC{
    position:fixed;
	top:10;
	z-index:3;
	color:white;
}